{% extends 'micboard/base.html' %}
{% load static %}

{% block content %}
	<main class="about-page">
		<div class="about-content">
			<div class="about-card">
				<img src="{% static 'micboard/logo.png' %}" class="about-card-img" alt="...">
				<h3 class="about-card-title text-center" id="version"></h3>
				<div class="about-card-body">
					<p class="about-card-text"><a href="https://github.com/karlcswanson/micboard" class="button button-secondary button-block">micboard on GitHub</a></p>
					<p class="about-card-text venue-name text-center">© 2017-2019 Karl Swanson</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'micboard/js/about.js' %}"></script>
{% endblock %}
