<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {% load static %}
    <title>{% block title %}micboard{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    {% block javascript %}{% endblock %}
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
