{% extends 'micboard/base.html' %}
{% load static %}

{% block content %}
    <section id="hud" class="hud-overlay">
      <div class="hud-content">
        <section class="hud-section">
          <h2>Keyboard Shortcuts</h2>
          <ul class="shortcut-list">
            <li><kbd>?</kbd> - Show keyboard shortcuts</li>
            <li><kbd>0</kbd> - Show all slots</li>
            <li><kbd>1</kbd>...<kbd>9</kbd> - Load group</li>
            <li><kbd>d</kbd> - Start demo mode</li>
            <li><kbd>e</kbd> - Open group editor</li>
            <li><kbd>t</kbd> - Toggle TV view</li>
            <li><kbd>i</kbd> - Change tv display mode</li>
            <li><kbd>f</kbd> - Toggle fullscreen</li>
            <li><kbd>g</kbd> - Toggle image backgrounds</li>
            <li><kbd>v</kbd> - Toggle video backgrounds</li>
            <li><kbd>n</kbd> - Extended Name editor</li>
            <li><kbd>s</kbd> - Device configuration editor</li>
            <li><kbd>q</kbd> - Show QR code</li>
            <li><kbd>esc</kbd> - reload micboard</li>
          </ul>
        </section>
        <section class="hud-section">
          <h2>Color Guide</h2>
          <div class="color-guide-grid">
            <div class="color-guide-item">
              <div class="color-box good"></div>
              <h3>Good</h3>
              <p>Mic ON.  4 - 5 Battery Bars.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box previously-good"></div>
              <h3>Previously Good</h3>
              <p>Mic OFF.  4 - 5 Battery Bars.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box replace"></div>
              <h3>Replace</h3>
              <p>Mic ON.  3 Battery Bars.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box previously-replace"></div>
              <h3>Previously Replace</h3>
              <p>Mic OFF.  3 Battery Bars.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box critical"></div>
              <h3>Critical</h3>
              <p>Mic ON.  1 - 2 Battery Bars.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box previously-critical"></div>
              <h3>Previously Critical</h3>
              <p>Mic OFF.  1 - 2 Battery Bars.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box unknown"></div>
              <h3>Unknown</h3>
              <p>Micboard doesn't make battery assumptions once a mic is off for over 30 minutes.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box rx-com-error"></div>
              <h3>RX COM Error</h3>
              <p>Micboard can't connect to the device.</p>
            </div>
            <div class="color-guide-item">
              <div class="color-box audio-peak"></div>
              <h3>Audio Peak</h3>
              <p>Input peak.</p>
            </div>
          </div>
        </section>
      </div>
      <button id="hud-button" class="button">Close</button>
    </section>
    <div id="container">


      <aside class="sidebar-nav">
        <h1 id='sidebarTitle'>Group 4</h1>
        <div class="slot-prototype-list" id="eslotlist">

        </div>
        <div class="sidebar-controls">
          <input type="text" id="groupTitle" placeholder="title" class="text-input">
          <div class="checkbox-group">
            <div class="checkbox-item">
              <span>Hide inactive charts</span>
            </div>

            <div class="checkbox-item">
              <input type="checkbox" id="chartCheck">
            </div>
          </div>

          <button type="button" id="editorSave" class="button">Save</button>
          <button type="button" id="editorClose" class="button">Close</button>
          <button type="button" id="editorClear" class="button">Clear</button>
        </div>
      </aside>
      <div id="micboard">

      </div>

      <section class="message-board">
        <h1>Connection Error!</h1>
        <p>Could not connect to the micboard server. Please refresh the page.</p>
      </section>
      <section class="settings">

        <div class="settings-content">

          <section id="cfg-discovered-col" class="settings-column">
            <div class="settings-header">
              <h3>Discovered Devices</h3>
            </div>

            <div id="discovered_list" class="settings-list"></div>
            <div class="settings-actions">
              <div class="settings-action-group">
                <div class="settings-action-item">
                  <button id="add-discovered" class="button">Add All Discovered Devices</button>
                </div>
              </div>
            </div>
          </section>

          <section id="cfg-slot-col" class="settings-column">
            <div class="settings-header">
              <h3>Slot Configuration</h3>
            </div>
            <div id="editor_holder" class="settings-editor"></div>
            <div class="settings-actions">
              <div class="settings-action-group">
                <div class="settings-action-item">
                  <button id="clear-config" class="button">Clear</button>
                </div>
                <div class="settings-action-item">
                  <button id="add-config-row" class="button">Add Row</button>
                </div>
                <div class="settings-action-item">
                  <button id="save" class="button">Save</button>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="settings-spacer"></div>
      </section>
      <nav class="main-nav">
        <div id="navbar-content">
          <ul id="grouplist">
            <li><h4><a href='/'>micboard</a></h4></li>
            <li><a id="go-group-0">all devices</a></li>
            <li><a id="go-extended" href="#">edit extended names</a></li>
            <li><a id="go-config">edit config</a></li>
            <li><a id="go-groupedit" href="#">edit group</a></li>
            <li>
              <ul>
                <li><a id="go-group-1">1:</a></li>
                <li><a id="go-group-2">2:</a></li>
                <li><a id="go-group-3">3:</a></li>
                <li><a id="go-group-4">4:</a></li>
                <li><a id="go-group-5">5:</a></li>
                <li><a id="go-group-6">6:</a></li>
                <li><a id="go-group-7">7:</a></li>
                <li><a id="go-group-8">8:</a></li>
                <li><a id="go-group-9">9:</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <button type="button" id="navbar-toggle" class="button">
          <span></span>
        </button>
      </nav>
    </div>
    <template id="column-template">
      <div class="micboard-column">
        <div class="mic_name">
          <p class="mic_id"></p>
          <p class="name"></p>
        </div>
        <div class="electrode"></div>

        <div class="info-drawer">
          <div class="battery-bars">
            <div class="battery-bar battery-bar-1"></div>
            <div class="battery-bar battery-bar-2"></div>
            <div class="battery-bar battery-bar-3"></div>
            <div class="battery-bar battery-bar-4"></div>
            <div class="battery-bar battery-bar-5"></div>
          </div>
          <div class="chartzone">
            <p class="runtime"></p>
            <p class="offset"></p>
            <canvas class="slotgraph"></canvas>
            <p class="quality"></p>
            <p class="frequency"></p>
          </div>

          <div class="errorzone">
            <p class="errortype">RX COM Error</p>
            <p class="ip"></p>
            <p class="rxinfo"></p>
          </div>

          <div class="editzone">
            <div class="form-group">
              <div class="form-field">
                <input type="text" class="text-input ext-id" aria-label="Default" aria-describedby="inputGroup-sizing-" autocomplete="off" placeholder="ID">
              </div>
              <div class="form-field">
                <input type="text" class="text-input ext-name" aria-label="Default" aria-describedby="inputGroup-sizing-" autocomplete="off" placeholder="Name">
              </div>
            </div>
          </div>

          <div class="diversity">
            <div class="diversity-bar"></div>
            <div class="diversity-bar"></div>
          </div>
        </div>
      </div>
    </template>

    <template id="save-template">
      <div class="micboard-column" id="paste-box">
        <div class="form-group">
          <div class="form-field">
            <textarea class="text-input" id="bulkbox" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="form-field">
            <button type="button" class="button button-success button-block" id="bulk-name-loader">Load Bulk Names</button>
          </div>
        </div>
      </div>
      <div class="micboard-column" id="save-box">
        <div class="form-group">
          <div class="form-field">
            <button type="button" class="button button-success button-block" id="slotSave">Save</button>
          </div>
        </div>

        <div class="form-group">
          <div class="form-field">
            <button type="button" class="button button-secondary button-warning button-block" id="clear-id">Clear IDs</button>
          </div>
          <div class="form-field">
            <button type="button" class="button button-secondary button-warning button-block" id="clear-name">Clear Names</button>
          </div>
        </div>
      </div>
    </template>

    <template id="config-slot-template">
      <div class="form-group cfg-row">
        <div class="form-field align-center cfg-row-form">
          <span></span>
        </div>
        <div class="form-field slot-number text-center cfg-row-form"><label class="form-label"></label></div>

        <div class="form-field del-btn cfg-row-form">
          <button type="button" class="button button-block button-right button-danger"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="form-field cfg-row-form">
          <input type="text" class="text-input cfg-ip" placeholder="IP Address">
        </div>

        <div class="form-field cfg-row-form">
          <select class="select-input cfg-type">
            <option></option>
            <option>axtd</option>
            <option>ulxd</option>
            <option>qlxd</option>
            <option>uhfr</option>
            <option>p10t</option>
            <option>offline</option>
          </select>
        </div>

        <div class="form-field cfg-row-form">
          <select class="select-input cfg-channel">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>

      </div>
    </template>
{% endblock %}

{% block javascript %}
    <script>
      window.dataURL = "{% url 'micboard:data_json' %}";
      window.slotURL = "{% url 'micboard:slot' %}";
      window.configURL = "{% url 'micboard:config' %}";
      window.groupURL = "{% url 'micboard:group' %}";
    </script>
    <script src="{% static 'micboard/app.js' %}"></script>
{% endblock %}
